# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*/node_modules

# next.js
*/.next/
*/out/

# production
*/build

# debug
*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*
*/pnpm-debug.log*

# env files
*/.env*

# vercel
*/.vercel

# typescript
**/*.tsbuildinfo
**/next-env.d.ts

# testing
*/coverage
*/test-results
LangGraphVisual2/tsconfig.tsbuildinfo
nest-api/tsconfig.tsbuildinfo
nest-api/bundle
nest-api/aws
nest-api/.serverless/cloudformation-template-create-stack.json
nest-api/.serverless/cloudformation-template-update-stack.json
nest-api/.serverless/nest-api.zip
nest-api/.serverless/serverless-state.json
nest-api/nest-api.zip
nest-api/awscliv2.zip
LangGraphVisual2/tsconfig.tsbuildinfo
